body{
    background: black;
    color: #fff;
    border: 2px #299dac solid;
    padding: 10px;
    margin: 0px;
    font-family: monospace;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid black;
    padding: 2px;
    text-align: left;
}
.group-row {
    font-size: 14px;
    font-weight: bold;
    background-color: #229e63;
    text-transform: uppercase;
    padding: 2px;
}